.list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    flex: 3;
}

.button {
    flex: 1;
    border: 1px var(--border-color) solid;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center
    ;
}

.facebook:hover {
    color: #3a5998;
}

.vk:hover {
    color: #507299;
}

.google:hover {
    color: #db4437;
}
