*, *::before, *::after {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
<<<<<<< Updated upstream
=======
  padding-left: 280px;
  padding-right: 280px;
>>>>>>> Stashed changes
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --border-color: #c8c8c8;
<<<<<<< Updated upstream
}
=======
  --font-color: #9ca3a3;
}
>>>>>>> Stashed changes
