*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom,
      #ffffff 0px,
      #ffffff 100px,
      var(--background-color) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --border-color: #c8c8c8;
  --font-color: #9ca3a3;
  --background-color: #e3e3e3;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: clamp(16px, 1vw, 80px);
  padding-right: clamp(16px, 1vw, 80px);
  width: 100%;
}